html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: inherit;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --primary_blue: #1F2937;
  --secondary_blue: #3882F6;
  --almost_white: #F9FAF8;
  --almost_black: #1F2937;
  --grey: #E5E7EB;

  --size_padding: 200px;
  --section_height: 500px;
}

header, footer, .landing {
  color: #FFFFFF;
  background-color: var(--primary_blue);
}

header {
  display: flex;
  justify-content: space-between;

  padding: 20px var(--size_padding);
}

header p {
  font-size: 24px;
  color: var(--almost_white);
}

ul {
  display: flex;
  gap: 30px;

  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  height: var(--section_height);

  padding: 0 var(--size_padding);
}

.landing h1 {
  font-size: 48px;
  color: var(--almost_white);
  font-weight: 900;
}

.landing p {
  font-size: 18px;
  color: #E5E7EB;

  margin: 20px 0;
}

.landing button {
  appearance: none;
  border: none;

  padding: 10px 30px;

  font-size: 16px;

  color: #FFFFFF;
  background-color: var(--secondary_blue);

  border-radius: 5px;
  transition: all .1s;
}

.landing button:hover {
  cursor: pointer;
  color: var(--primary_blue);
  background-color: var(--almost_white);
  transform: scale(1.1);
}

.landing .text {
  width: 50%;
}

.landing .image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 300px;

  padding: 20px;

  text-align: center;
  background-color: #ffffff57;
}

.infos {
  display: flex;
  flex-direction: column;

  padding: 0 var(--size_padding);
  padding-top: 50px;
  padding-bottom: 80px;
}

.infos h2 {
  text-align: center;
  font-size: 36px;
  color: var(--primary_blue);
  font-weight: 900;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  margin-top: 50px;
}

.articles article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 250px;
}

.articles p {
  text-align: center;
  font-size: 16px;
  color: var(--almost_black);

  margin-top: 20px;
}

.articles .image_placeholder {
  width: 200px;
  height: 200px;

  border: 5px var(--secondary_blue) solid;
  border-radius: 10px;
}

.quote {
  padding: 150px var(--size_padding);

  background-color: var(--grey);
}

.quote q {
  quotes: none;

  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: var(--almost_black);
}

.quote p {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.call_to_action {
  padding: 100px var(--size_padding);
}

.call_to_action > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 120px;

  border-radius: 10px;

  color: #FFFFFF;
  background-color: var(--secondary_blue);
}

.call_to_action h3 {
  font-size: 24px;
}

.call_to_action p {
  font-size: 16px;
  margin-top: 10px;
}

.call_to_action button {
  appearance: none;
  border: none;

  font-size: 20px;
  font-weight: bold;
  color: var(--almost_white);

  padding: 10px 40px;

  border-radius: 10px;
  border: 3px var(--almost_white) solid;

  background-color: transparent;

  transition: all .1s;
}

.call_to_action button:hover {
  cursor: pointer;

  color: var(--secondary_blue);
  background-color: var(--almost_white);

  transform: scale(1.1);
}
